<div style="color: white; text-align: left">
<h1>MEMBROS</h1>
<h2>Lider</h2>
<div class="row" >
    <ul class="colegas" ng-repeat="membro in membros">
            <li ng-if="membro.permition == 1"><img src="/resources/images/icones/iconeOrientador.png" class="img-circle img-responsive" style="width: 150px; height: 150px;" />
            <p>{{ membro.name }}</p>
            </li>
    </ul>
</div>

    <h2 style="color: white">Auxiliares</h2>
    <div class="row" style="color: white;">
        <ul class="colegas" ng-repeat="membro in membros">
            <li ng-if="membro.permition == 2"><img src="/resources/images/icones/iconeOrientador.png" class="img-circle img-responsive" style="width: 150px; height: 150px;" />
                <p>{{ membro.name }}</p>
            </li>
        </ul>
    </div>
    <h2>Membro</h2>
    <div class="row" style="color: white;">
        <ul class="colegas" ng-repeat="membro in membros">
            <li ng-if="membro.permition == 4"><img src="/resources/images/icones/iconeOrientador.png" class="img-circle img-responsive" style="width: 150px; height: 150px;" />
                <p>{{ membro.name }}</p>
            </li>
        </ul>
    </div>
    <h2>Orientadores</h2>
    <div>
        <ul class="row professores" ng-repeat="membro in membros">
            <li ng-if="membro.permition == 3"><img src="/resources/images/icones/iconeOrientador.png" class="img-circle img-responsive" style="width: 150px; height: 150px;" />
                <p>{{ membro.name }}</p>
            </li>
        </ul>
    </div>
</div>
<button class="btn btn-default">Adicionar</button>