<!DOCTYPE html>
<html lang="en">
<head>
	<title>AIOP</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
</head>



<body>
<div class="container-fluid">

	<!--Esquerda-->
			<div class="col-md-2" id="menu">
				<div class="esquerda">
					<div id="perfil">
						<div id="fotoPerfil">
							<img src="images/perfil.jpg" class="img-circle img-responsive"/>
						</div>
						<h2 style="text-align:center; border-bottom:1px solid;">Darth Vader</h2>
						<p style="text-align:center;">Galaxy Domination!</p>
					</div>
					<ul class="nav nav-pills nav-stacked">
					  <li><a href="home.html">HOME</a></li>
					  <li><a href="members.html">MEMBROS</a></li>
					  <li><a href="definitions.html">DEFINIÇÕES</a></li>
					  <li><a href="assignments.html">TAREFAS</a></li>
					  <li><a href="archives.html">ARQUIVOS</a></li>
					  <li class="active"><a href="personalization.html">PERSONALIZAÇÃO</a></li>
					  <li><a href="planning.html">PLANEJAMENTO</a></li>
					</ul>
				</div>
			</div>

			<!--Esquerda-->


		<div class="col-md-8" id="conteudo">

		</div>

		
		<!--Direita-->

			<div class="col-md-2" id="lateral">
				<div class="btn-group" id="botoesDireita">
				  <button type="button" class="btn btn-primary">Notificações</button>
				  <button type="button" class="btn btn-primary">Configurações</button>
				</div>
			</div>

			<!--Direita-->
	</div>
</div>
</body>
</html>