<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<title>AIOP</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="css/style.css" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
    <script src="js/angular.js"></script>
    <script src="https://code.angularjs.org/1.5.5/angular-route.js"></script>
    <script src="https://code.angularjs.org/1.5.5/angular-sanitize.js"></script>
    <script src="js/app.js"></script>

</head>
<body ng-controller="mainController">
<div class="top"></div>
<div class="coluna3 col-2">
</div>
<div class="coluna2 col-8">
	<div class="row">
		<div class="conteudo ">
			
		</div>
		<div class="conteudo">
			
		</div>
		<div class="conteudo">
			
		</div>
		<div class="conteudo">
			
		</div>
		<div class="conteudo">
			
		</div>
	</div >
</div>
<div class="menu-coluna1 col-2">
	<div class="menu-itens">
		<div id="perfil">
			<div>
				<img src="images/perfil.jpg" class="img-reponsiva img-circular"/>
			</div>
			<p style="text-align:center;">Galaxy Domination!</p>
		</div class="menu-opcoes">
		  <div class="menu-block"><a class="menu-block" href="#/membros">HOME</a></div>
		  <div class="menu-block"><a class="menu-block" href="#membros">MEMBROS</a></div>
		  <div class="menu-block"><a class="menu-block" href="definitions.html">DEFINIÇÕES</a></div>
		  <div class="menu-block"><a class="menu-block" href="assignments.html">TAREFAS</a></div>
		  <div class="menu-block"><a class="menu-block" href="archives.html">ARQUIVOS</a></div>
		  <div class="menu-block"><a class="menu-block" href="personalization.html">PERSONALIZAÇÃO</a></div>
		  <div class="menu-block"><a class="menu-block" href="planning.html">PLANEJAMENTO</a></div>
	</div>
</div>
</body>
</html>