<!DOCTYPE html>
<html lang="en">
<head>
	<title>AIOP</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="../css/style-event.css" rel="stylesheet">
</head>



<body>
	<div class="conteudo" style="border-top:1px solid; padding-top:5px; width: 400px;">
		<img src="../images/calendar.png" align="left" style="padding-top:75px;">
		<h4 align="right" style="font-size:20px;">Mudança na data</h4>
		<p align="right">De: 01/07/2016</p>
		<p align="right">Para: 01/08/2016</p>
		<h4 align="right" style="font-size:20px;">Descrição</h4> 
		<p align="right">Desenvolvimento do trabalho adiado</p>
		<h4 align="right" style="font-size:20px;">Data da alteração</h4>
		<p align="right">25/06/2016</p>	
	</div>
</body>
</html>